<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="3.1" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">   
<TimeStamp>Mon Jul 03 11:44:45 CST 2017</TimeStamp>
<servlet>
<servlet-name>Statement</servlet-name>
<servlet-class>org.dbcloud.mysql.StatementServlet</servlet-class>
<init-param>
<param-name>guid</param-name>
<param-value>class</param-value>
</init-param>
</servlet>
<servlet-mapping>
<servlet-name>Statement</servlet-name>
<url-pattern>org.dbcloud.mysql.Statement</url-pattern>
</servlet-mapping>
</web-app>
